.modal-content {
  background-color: #f3d9d9 !important;
}
.cross-sign {
  font-size: 50px;
  font-weight: 500;
  color: rgb(238, 57, 57);
}
.header-title {
  width: 40%;
  color: #5a6268;
  margin: 10% 2%;
}
.blood {
  color: tomato;
}
.img-contaner {
  width: 30%;
  margin: 2% 0 2% 8%;
}

.modal-img {
  height: 200px;
  width: 200px;

  border-radius: 50%;
}

.form-control {
  background-color: rgba(250, 108, 83, 0) !important;

  border: 1px solid rgb(61, 59, 59) !important;
}

.button {
  background-color: rgb(238, 57, 57);
  color: white;
}
